# Created by https://www.gitignore.io/api/intellij

### Intellij ###
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

.idea/
/data/

# IntelliJ
out/

# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

*.class
*.log